PROJECT_2024_11_12/Logs
PROJECT_2024_11_12/UserSettings
PROJECT_2024_11_12/Library
*.vsconfig
PROJECT_2024_11_12/Assembly-CSharp.csproj
PROJECT_2024_11_12/Assembly-CSharp-Editor.csproj
PROJECT_2024_11_12/PROJECT_2024_11_12.sln
PROJECT_2024_11_12/Temp
PROJECT_2024_11_12/obj
PROJECT_2024_11_12/build
PROJECT_2024_11_12/.vs
PROJECT_2024_11_12/.utmp
PROJECT_2024_11_12/Assets/FANTASTIC - Dungeon Pack
PROJECT_2024_11_12/Assets/Resources/MyAssets
PROJECT_2024_11_12/Assets/Layer Lab/GUI Pro-FantasyRPG
PROJECT_2024_11_12/Assets/MyAsset/DavePixel
PROJECT_2024_11_12/Assets/MyAsset
