PROJECT_2024_11_12/Logs
PROJECT_2024_11_12/UserSettings
PROJECT_2024_11_12/Library
*.vsconfig
PROJECT_2024_11_12/Assembly-CSharp.csproj
PROJECT_2024_11_12/Assembly-CSharp-Editor.csproj
PROJECT_2024_11_12/PROJECT_2024_11_12.sln
